<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Articles</title>
</head>
<body>
  <h1>Blog Articles</h1>
  <ul>
    {% for slug, article in articles.items() %}
      <li>
        <a href="/articles/{{ slug }}">{{ article['name'] }}</a>
        </li>
        <p> Reading time: {{ article['reading time'] }} </p>
    {% endfor %}
  </ul>
</body>
</html>