{% extends 'base.html' %}

{% block title %} Article Editing Page {% endblock %}

{% block main %}
<h1> Edit the Article</h1>
<h2>Here you can edit one or more details of the article that you clicked on. Just change the text in the following form, hit the green button and your changes will be saved</h2>
<form method="POST">
    <fieldset>
        <div>
            <label for="title">Article title:</label>
            <input type="text" id="title" name="title" value="{{article.title}}" size="80">
        </div>
        <div>
            <label for="reading_time">Reading time:</label>
            <input type="text" id="reading_time" name="reading_time" value="{{article.reading_time}}" size="80">
        </div>
        {% if error %}
        <p style="color: tomato;">{{ error }}</p>
        {% endif %}
        <input type="submit" value="Edit Article">
    </fieldset>
  </form>
  <p>Have you picked the wrong article to edit? <a href="{{ url_for('articles.list_of_articles') }}">Here you can go back to the list of all articles</a></p>
  {% endblock %}