<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Articles</title>
</head>
<body>
  <h1>Blog Articles</h1>
  <ul>
    {% for article in html_articles.items %}
      <li>
        <a href="/articles/{{ article.slug }}">{{ article.title }}</a>
        </li>
        <p> Reading time: {{ article.reading_time }} </p>
    {% endfor %}
  </ul>
  <nav>
    {% if html_articles.prev_num %}
    <a href="{{ url_for('articles.list_of_articles', page = html_articles.prev_num) }}">Previous Page</a>
    {% else %}
    <span>Previous Page</span>
    {% endif %}

    <span> - </span>

    {% if html_articles.next_num %}
    <a href="{{ url_for('articles.list_of_articles', page = html_articles.next_num) }}">Next Page</a>
    {% else %}
    <span>Next Page</span>
    {% endif %}
  </nav>
</body>
</html>