{% extends 'base.html' %}

{% block title %} Article Blog {% endblock %}

{% block main %}
<h1> Publish an Article</h1>

<form method="POST">
    <h2>Enter Article Details</h2>
    <fieldset>
        <div>
            <label for="title">Article title:</label>
            <input type="text" id="title" name="title" placeholder="Where people drink beer for breakfast" size="80">
        </div>
        <div>
            <label for="reading_time">Reading time:</label>
            <input type="text" id="reading_time" name="reading_time" placeholder="7 mins" size="80">
        </div>
        {% if error %}
        <p style="color: tomato;">{{ error }}</p>
        {% endif %}
        <input type="submit" value="Post Article">
    </fieldset>
  </form>

  {% endblock %}