{% extends 'base.html' %}

{% block title %}Starting page{% endblock %}

{% block main %}
    <div class="image_with_text">
        <img src="{{ url_for('static', filename='images/image1.jpg') }}" alt = "Two Brown Pencils on White Surface">
        <div class="centered_text">
            <h1>Hey there!</h1>
            <h2>Welcome to my article blog!</h2>
        </div>
    </div>
    <div class="container">
        <div class="item">
            <p class="entry_columns">Here are <a href="{{ url_for('articles.list_of_articles') }}">all blog articles</a></p>
        </div>
        <div class="item">
            <p class="entry_columns" >Here you can <a href="/publisharticle"> publish your own article</a> in this blog</p>
        </div>
    </div>

{% endblock %}