{% extends 'base.html' %}

{% block title %}Starting page{% endblock %}

{% block main %}
    <h1>Hey there!</h1>

    <h2>Welcome to my article blog!</h2>
    <div class="container">
        <div class="item">
            <p class="entry_columns">Here are <a href="/articles/">all blog articles</a></p>
        </div>
        <div class="item">
            <p class="entry_columns" >Here you can <a href="/publisharticle"> publish your own article</a> in this blog</p>
        </div>
    </div>

{% endblock %}